<h1>Welcome <%= @user.name %>!</h1>
<%= button_to "Start a tour", 'users/schoolTourHome', :method => "get", :html_options => {:name => "button1"}  %>
<%= button_to "Start a tour", 'users/schoolTourHome', :method => "get" %>
<%= button_to "My Schools", 'users/mySchools', :method => "get" %>

