<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>-->

    <script>
//        $(function() {
//            $( "#slider" ).slider();
//        });
        $(function() {
            $( "#slider" ).slider({
                value:100,
                min: 0,
                max: 500,
                step: 50,
                slide: function( event, ui ) {
                    $( "#amount" ).val( "$" + ui.value );
                }
            });
            $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
        });
    </script>
</head>
<body>

<div data-role="page">

    <div data-role="header">
        <h1>School Hounds</h1>
    </div><!-- /header -->


    <div data-role="content">
        <p>
            <label for="amount">Donation amount ($50 increments):</label>
            <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
        </p>
        <div id="slider"></div>

        <div id="container_slider">
            <!--<div id="slider"></div>-->
            <div id="selectors" style="padding-top: 20">
                <div style="float:left">BAD</div>
                <div style="float:right">Great</div>
            </div>
        </div> <br /><br /><br /><br />
        <label for="slider-step">Input slider:</label>
        <input type="range" name="slider-step" id="slider-step" value="150" min="0" max="500" step="50" />
        <input type="range" name="slider-fill" id="slider-fill" value="60" min="0" max="100" data-highlight="true" />
        <br /><br />
    <ul data-role="listview" data-inset="true" data-filter="true">
        <li><a href="#">Acura</a></li>
        <li><a href="#">Audi</a></li>
        <li><a href="#">BMW</a></li>
        <li><a href="#">Cadillac</a></li>
        <li><a href="#">Ferrari</a></li>
    </ul>
    </div><!-- /content -->
</div><!-- /page -->

</body>
</html>
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!--<script>-->
//    var counter = 0;
//    var arr = new Array();
//    function get_location() {
//        navigator.geolocation.getCurrentPosition(show_map);
//    }
//    function show_map(position) {
//        counter++;
//
//        var latitude = position.coords.latitude;
//        var longitude = position.coords.longitude;
//        var accuracy = position.coords.accuracy;
//        // let's show a map or do something interesting!
//        arr.push(new Array(latitude, longitude, accuracy));
////        console.log(counter+" "+arr);
//        if(!(counter % 100)){
////            console.log(counter);
//            var acc = 0;
//            var lat = 0;
//            var lon = 0;
//            for(var i=0; i<100; i++){
//                var temp = arr.pop();
////                console.log(temp);
//                lat = lat + temp[0];
//                lon = lon + temp[1];
//                acc = acc + temp[2];
////                console.log(lat+" "+lon+" "+acc);
//            }
//            var actual_lat = lat/100;
//            var actual_lon = lon/100;
//            var location_str = "away";
//            if(actual_lat < 37.79115){
//                location_str = "home";
//            }
//
//            var d = "<h2><b>"+location_str+"</b> : "+lat/100+" : "+lon/100+" : "+acc/100+"</h2>";
//            $("#show_location").append(d);
//        }
////        display_coords(latitude, longitude, accuracy);
//    }
//    function display_coords(latitude, longitude, accuracy){
//
//    }
////    setInterval(get_location,100);
//
<!--</script>-->
<!--School Hound<br />-->

<!--<div id="show_location"></div>-->
<!--<a href=""><button>Welcome</button></a>-->